In [201]:
import struct
import pandas as pd
import re
from datetime import datetime

In [202]:
with open('data.bin',mode='rb') as f:
    file_content = f.read()
    print(file_content)

b'\x00\x00\x00\x017051231234\xe4\x07\n\x04\x0c\x01\x1d\x00\x00\x00\x027771231235\xe4\x07\x02\x19\x03\n\x03\x00\x00\x00\x037051231236\xe3\x07\x05\x11\x107(\x00\x00\x00\x047771233377\xe4\x07\x0c\x05\x05\x1e)\x00\x00\x00\x057051232255\xe5\x07\x07\t\x14 2'

In [213]:
df = pd.DataFrame(columns=['Номер','Номер телефона','Время события'])
df
row = []
for i in range(len(file_content) // 21):
    tab = i * 21
    id_phone = str(struct.unpack(">i", file_content[tab+0:tab+4])).split('(')[1].split(',')[0]
    number_phone = file_content[tab+4:tab+14].decode('utf-8')
    date = datetime(*struct.unpack("<h5B", file_content[tab+14:tab+21]))
    row = list((id_phone,number_phone,date))
    df = df.append(dict(zip(df.columns,row)),ignore_index=True)
    print(row)
df = df.set_index('Номер')

['1', '7051231234', datetime.datetime(2020, 10, 4, 12, 1, 29)]
['2', '7771231235', datetime.datetime(2020, 2, 25, 3, 10, 3)]
['3', '7051231236', datetime.datetime(2019, 5, 17, 16, 55, 40)]
['4', '7771233377', datetime.datetime(2020, 12, 5, 5, 30, 41)]
['5', '7051232255', datetime.datetime(2021, 7, 9, 20, 32, 50)]

In [214]:
df.to_csv('blacklist.csv')

In [216]:
df

      Номер телефона       Время события
Номер
1         7051231234 2020-10-04 12:01:29
2         7771231235 2020-02-25 03:10:03
3         7051231236 2019-05-17 16:55:40
4         7771233377 2020-12-05 05:30:41
5         7051232255 2021-07-09 20:32:50